<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <script src="angular.min.js"></script>
</head>
<body ng-controller="ContactController">
Name: <input type="text" ng-model="nameText" /> {{ nameText }}

<ul ng-init="people=[{name: 'Ganesh', phone: 92342352112 }, {name: 'Suresh', phone: 9234422112},{name: 'Ramesh', phone: 9632342112}]">
  <li ng-repeat="person in people | filter: nameText | orderBy:'name'">{{ person.name | uppercase }} - {{ person.phone }}</li>
</ul>

<p ng-repeat="page in pages"> {{ page }}</p>
<p ng-repeat="row in rows"> {{ row }}</p>

<script>
  function ContactController($scope) {
    $scope.pages = [1,2,3,4,5];
    $scope.rows  = ['Naren','Kumar'];
  }
</script>
</body>
</html>
